* {
    font-family: 'Baloo 2', sans-serif;
}
html, body {
    width: 100%;
    /* overflow-x: hidden; */
}
.custom-dropdown-toggle::after {
    display: none !important;
}
.text-custom-primary {
    color: #F82E19!important;
}
.bg-notif-read {
    background-color: #D7E5FF!important;
}
.bg-custom-gradient {
    background: linear-gradient(90deg, rgba(235, 37, 42, 1) 0%, rgba(197, 16, 95, 1) 100%);
    color: #fff;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #F82C17!important;
}
.nav-link {
    color: #A0A0A0!important;
}
@media (max-width:360px) {
    .nav-link {
        font-size: 12px!important;
    }
    .user-detail p {
        font-size: 11px;
    }
    .pp-mobile {
        height: 45px;
        width: 45px;
    }
    .more-online {
        width: 45px!important;
        height: 45px!important;
    }
    .online-layout {
        margin-left: -2.4rem!important;
    }
    .notification-count{
        top: 5px!important;
        right: 0!important;
    }
    .content-notif {
        max-width: 275px!important;
    }
    .content-notif p{
        font-size: 12px!important;
    }
    .content-notif div, .content-notif h5 {
        font-size: 14px !important;
    }
}
@media (max-width: 480px) {
    .icon-nav {
        font-size: 20px;
    }
}
.checkout-button {
    background: #F82C17;
    color: #fff;
    padding: 1rem;
    margin-top: -2.9rem;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
}
.notification-count {
    position: absolute;
    top: 15px;
    right: 10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    /* padding: 5px 8px; */
    width: 10px;
    height: 10px;
    font-size: 12px;
}
.icon {
    position: relative;
    background: #DB1C3E;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 5px;
}
.mark-notif {
    position: absolute;
    font-size: 12px;
    right: -20%;
    height: 20px;
    width: 20px;
    bottom: -10%;
    line-height: 25px;
    border-radius: 50%;
}
.done-notif {  
    background: #6DC6A7;
    color: #fff;
}
.danger-notif {
    background: #F8402E;
    color: #fff;
}
.proses-notif {
    background: #4485FF;
    color: #fff;
}
.content-notif {
    max-width: 250px;
}
.fs-custom-logo {
    font-size: 54px;
}
@media (max-width:768px) {
    .fs-custom-logo {
        font-size: calc(1.375rem + 1.5vw);
    }
}
.online-layout {
    margin-left: -3rem;
}

.online-layout:first-child {
    margin-left: 0!important;
}
.more-online {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #D61945;
    line-height: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}
.slick-active .if-active{
    background: #F82C17!important;
}